/* Agregamos la fuente que vamos a utilizar en nuestro sitio*/
@import url("https://fonts.googleapis.com/css2?family=Monserrat:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monserrat";
}

body {
  scroll-behavior: smooth;
}

/* ----------------------SECCIÓN INICIO---------------------- */
#inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("img/Universe.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.container-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-container {
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 100%;
  height: auto;
}

.nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 12px;
  font-weight: 400;
  transition: 0.8s;
}

.nav-ul li a:hover {
  color: #6c757d;
}

.nav-ul .seleccionado {
  color: #ff5080;
}

#icono-nav {
  color: #fff;
  display: none;
}

.redes a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: 0.8s;
}

.redes a:hover {
  color: #808992;
}

.presentation {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bienvenida {
  font-size: 16ox;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

.presentation h2 {
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}

.breve-descripcion {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

.presentation a {
  text-decoration: none;
  margin-top: 25px;
  padding: 20px 25px;
  border: 3px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  transform: 0.5s;
}

.presentation a:hover {
  background-color: #1b3269;
}

/* ----------------------SECCIÓN ABOUT ME---------------------- */

#aboutme {
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: #111135;
  display: flex;
}

.container-perfil {
  max-width: 400px;
  margin-right: 80px;
}

.container-perfil img {
  padding: 20px;
  width: 350px;
  border-radius: 20px;
  background-color: #e7dfdf;
}

#aboutme .container-aboutme {
  margin: 0 40px;
}

#title-section {
  font-size: 28px;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

.container-aboutme h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

.container-aboutme h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.container-aboutme p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
  text-align: justify;
}

.container-aboutme a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid black;
  margin-top: 30px;
  transition: 0.5s;
}

.container-aboutme a:hover {
  background-color: #000;
  color: #fff;
}

/* ----------------------SECCIÓN SKILLS---------------------- */

.container-skills {
  background-image: url(img/fondo-skills.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.container-skills h3 {
  font-size: 22px;
}

.skills {
  max-width: 600px;
  margin: 25px auto;
}

.info {
  display: flex;
  justify-content: space-between;
}

.lista {
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: #fff;
}

.skills .barra {
  background-color: #555555a6;
  height: 6px;
}

.skills .barra-progreso1 {
  background-color: #fff;
  height: 100%;
  animation: progreso1 2s forwards;
}

.skills .barra-progreso2 {
  background-color: #fff;
  height: 100%;
  animation: progreso2 2s forwards;
}

.skills .barra-progreso3 {
  background-color: #fff;
  height: 100%;
  animation: progreso3 2s forwards;
}

.skills .barra-progreso4 {
  background-color: #fff;
  height: 100%;
  animation: progreso4 2s forwards;
}

.skills .barra-progreso5 {
  background-color: #fff;
  height: 100%;
  animation: progreso5 2s forwards;
}

.skills .barra-progreso6 {
  background-color: #fff;
  height: 100%;
  animation: progreso6 2s forwards;
}

.skills .barra-progreso7 {
  background-color: #fff;
  height: 100%;
  animation: progreso7 2s forwards;
}

.skills .barra-progreso8 {
  background-color: #fff;
  height: 100%;
  animation: progreso8 2s forwards;
}

.skills .barra-progreso9 {
  background-color: #fff;
  height: 100%;
  animation: progreso9 2s forwards;
}

.skills .barra-progreso10 {
  background-color: #fff;
  height: 100%;
  animation: progreso10 2s forwards;
}

@keyframes progreso1 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@keyframes progreso2 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes progreso3 {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}

@keyframes progreso4 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes progreso5 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes progreso6 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes progreso7 {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@keyframes progreso8 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes progreso9 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes progreso10 {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}

/* ----------------------SECCIÓN PORTFOLIO---------------------- */

#portfolio {
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
}

.title-portfolio {
  font-size: 22px;
  text-align: center;
  color: #111135;
}

.container-projects {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
  flex-wrap: wrap;
  row-gap: 30px;
}

.project {
  max-width: 320px;
  margin: 0 10px;
  position: relative;
}

.project img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  object-fit: cover;
  transition: 0.3s;
}

.project:hover img {
  filter: grayscale(0);
}

.project .info {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ff5080;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: 0.5s;
}

.project:hover .info {
  opacity: 1;
  bottom: 0;
}

/* ----------------------SECCIÓN CONTACT---------------------- */
.fondo-contact {
  background: #000;
  color: #fff;
}

.container-contact {
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding: 80px 0;
}

.container-datos,
.container-form {
  background-color: rgba(185, 165, 165, 0.1);
  border: 1px solid black;
}

.title-contact {
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 3px;
  padding: 1.5em;
}

.container-datos h3 {
  font-size: 22px;
}

.container-datos ul {
  width: 65%;
  margin: 0 auto;
  list-style: none;
}

.container-datos ul li i {
  padding: 0.8em;
}

.container-form {
  padding: 1em;
}

.container-form p input,
.container-form p textarea,
.container-form p button {
  width: 100%;
  border: none;
  color: #fff;
  border-bottom: 1px solid #d63031;
  padding: 0.5em;
  outline: none;
  background: none;
  border-bottom: 1px solid #d63031;
}

.container-form p {
  margin-bottom: 1em;
}

.container-form p button {
  border: none;
  font-size: 1em;
  margin-top: 1em;
}

.container-form p button:hover,
.container-form p button:focus {
  background-color: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
}

/* ----------------------SECCIÓN FOOTER---------------------- */

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

footer .redes {
  margin-top: 10px;
}

footer a {
  margin: 5px;
  font-size: 26px;
}

/* -------------------------------------------------- */
/* ----------------------RESPONSIVE TABLET---------------------- */
/* -------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .redes,
  nav {
    display: none;
  }
  .responsive {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    padding: 10px 0;
  }
  .responsive ul {
    display: block;
    text-align: right;
  }

  .responsive ul li {
    margin: 5px 0;
  }

  #icono-nav {
    display: block;
  }

  .presentation a {
    background-color: #1b3269;
  }

  /* ----------------------SECCIÓN ABOUT ME---------------------- */
  /* ----------------------SECCIÓN SKILLS---------------------- */

  /* ----------------------SECCIÓN PORTFOLIO---------------------- */

  #portfolio {
    padding: 80px 0;
  }

  .project img {
    filter: grayscale(0);
  }

  #portfolio .container-projects .project {
    max-width: 360px;
  }

  .project .info {
    opacity: 1;
    bottom: 0px;
  }

  /* ----------------------SECCIÓN CONTACT---------------------- */

  .container-form p button {
    background-color: #d63031;
    color: #fff;
  }

  /* ----------------------SECCIÓN FOOTER---------------------- */
  footer .redes {
    display: block;
  }
}

/* -------------------------------------------------- */
/* ----------------------RESPONSIVE SMARTPHONE---------------------- */
/* -------------------------------------------------- */

@media screen and (max-width: 767px) {
  .redes,
  nav {
    display: none;
  }
  .responsive {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    padding: 10px 0;
  }

  .responsive ul {
    display: block;
    text-align: center;
  }

  .responsive ul li {
    margin: 5px 0;
  }

  #icono-nav {
    display: block;
  }

  .presentation h2 {
    font-size: 40px;
  }

  .presentation a {
    background-color: #1b3269;
  }

  /* ----------------------SECCIÓN ABOUT ME---------------------- */

  #aboutme {
    padding: 50px 0;
    display: block;
  }

  .container-perfil {
    max-width: 350px;
    margin: auto;
  }

  .container-perfil img {
    padding: 8px;
  }

  .container-aboutme #title-section {
    text-align: center;
  }
  .container-aboutme h2 {
    font-size: 25px;
    text-align: center;
  }

  .container-aboutme a {
    background-color: #000;
    color: #fff;
  }

  /* ----------------------SECCIÓN SKILLS---------------------- */
  .container-skills {
    padding: 80px 25px;
  }

  /* ----------------------SECCIÓN PORTFOLIO---------------------- */
  #portfolio {
    padding: 80px 0;
  }

  .project img {
    filter: grayscale(0);
  }

  #portfolio .container-projects {
    display: block;
  }

  #portfolio .container-projects .project {
    margin: 30px auto;
    max-width: 480px;
  }

  .project .info {
    opacity: 1;
    bottom: 0px;
  }

  /* ----------------------SECCIÓN CONTACT---------------------- */

  .container-contact {
    display: block;
    padding: 50px 0;
  }

  .title-contact {
    padding: 1em;
  }

  .container-form p button {
    background-color: #d63031;
    color: #fff;
  }

  /* ----------------------SECCIÓN FOOTER---------------------- */

  footer .redes {
    display: block;
  }
}
